body {
  margin: 0px;
  background-color: #e4f4f5;
}

p {
  padding-right: 57px;
  padding-left: 10px;
  font-family: "Arial", Helvetiva, sans-serif;
  zoom: 90%;
}

h2 {
  margin-top: 35px;
  padding-left: 10px;
  font-family: "Arial", Helvetiva, sans-serif;
  text-decoration: none;
}

h1 {
  margin: 0px;
  font-family: "Arial", Helvetiva, sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.logo {
  width: auto;
  height:auto;
  margin-left: 20px;
  z-index: 1;
}

.navigation {
  width: auto;
  height: 60px;
  background-color: #3A3A3B;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color:#82babd;
  min-width: 1200px;
}

.navigation-content {
  padding-top: 19px;
  width: 81.3%;
  float: right;
}

.navigation-content a:link {
  height: 60px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 19px;
  padding-bottom: 20px;
  font-family: "Arial", Helvetiva, sans-serif;
  color: #D4D4D4;
  text-decoration: none;
  font-size: 120%;
  transition: all 0.3s ease 0s;
}

.navigation-content a:visited {
  color: #D4D4D4;
}

.navigation-content a:hover {
  color: #FFFFFF;
  background-color: #282929;
}

.navigation-content a.active {  /* THIS COULD BE BORDER TOP */
  color: #FFFFFF;
  padding-bottom: 17px;
  border-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-color: #82babd;
}

.navigation img {
  margin-left: 20px;
  float: left;
}

.photo {
  height: 700px;
  width:100%;
  border-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color:#82babd;
  position: absolute;
  background-image: url("../img/bgimg1.jpg");
  background-position: top center;;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;
}

#vbg {
  background-image: url("../img/bgimg2.jpg");
}

#sbg {
  background-image: url("../img/bgimg3.jpg");
}

.main {
  background-color: rgba(255, 255, 255, 0.9);
  width: 75%;
  min-width: 1200px;
  height:665px;
  border-top: 10px;
  border-top-style: solid;
  border-top-color: #82babd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  -webkit-box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
  -moz-box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
  box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
}

.main a {
  text-decoration: none;
  color: #587D7F ;
  transition: all 0.3s ease 0s;
}

.main a:visited {
  text-decoration: none;
  color: #587D7F ;
}

.main a:hover{
  text-decoration: none;
  color: #74A6A8 ;
}

.main-item {
  float:left;
  width: 33.33%;
  height:200px;
  padding-top: 80px;
}

.item-logo {
  float: left;
  width:40%;
  height:100%;
}

.item-logo img{
  display:block;
  margin: auto;
  transition: all 0.3s ease 0s;
}

.item-logo img:hover{
  -webkit-filter: opacity(0.9);
}

.item-content {
  float:right;
  width:60%;
  height:100%;
}

.main2 {
  background-color: rgba(255, 255, 255, 0.9);
  width: 60%;
  min-width: 1200px;
  height:900px;
  border-top: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
  -moz-box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
  box-shadow: 0px 9px 24px -1px rgba(117,117,117,0.52);
}

.main2-left h3 {
  font-family: "Arial", Helvetiva, sans-serif;
  color: #587D7F;
  zoom: 140%;
}

.main2-header {
  width: 25%;
  height: 75px;
  text-align: right;
}

.main2-left {
  float: left;
  width: 25%;
  height: 300px;
  text-align: right;
}

.main2-left hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}

.main2-left li {
   list-style-type: none;
   font-family: "Arial", Helvetiva, sans-serif;
}

.main2-left a:link {
  font-family: "Arial", Helvetiva, sans-serif;
  color: grey;
  transition: all 0.3s ease 0s;
}

.main2-left a:visited{
  color: grey;
}

.main2-left a:hover{
  color: black;
}

.main2-left a.active {
  font-weight: bold;
  color: black;
}

.main2-right1 {
  float: right;
  display: none;
  width: 75%;
  height: 300px;
  margin-top: 17px;

}

.main2-right2 {
  float: right;
  display: none;
  width: 65%;
  height: 350px;
  margin-top: 17px;

}

.main-surround {
  width: 700px;
  margin: auto;
}

.main2-right1 p {
  zoom: 100%;
}

.main2-right1 h2 {
  margin: 0px;
  margin-left: -10px;
  margin-bottom: 13px;
  color: #587D7F;
}

.main2-right1 h3 {
  font-family: "Arial", Helvetiva, sans-serif;
  float: right;
  margin-left: 130px;
}

.main2-right1 h4 {
  font-family: "Arial", Helvetiva, sans-serif;
  float: right;
}

.switch {
  position: relative;
  float: right;
  width: 60px;
  height: 34px;
  margin-top: 14px;
  margin-left: 5px;
}

#lockswitch {
  margin-top: 0px;
  height: 20px;
  width: 48px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input {display:none;}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#lockslider:before{
  height: 12px;
  width: 12px;
}

input:checked + .slider {
  background-color: #007505;
}

input:focus + .slider {
  box-shadow: 0 0 1px #007505;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.main2-right1 select {
  float: right;
  margin-top: 13px;
  margin-left: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
}



.main2-right1 img {
  display: block;
  margin: auto;
}

button {
  float: right;
  background-color: #525252;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 13px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  box-shadow: inset 0 0 0 3px #2B2B2B;
}

.main2-right1 p{
  float: left;
  font-size: 14pt;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  border: 0;
}

#pin {
  margin-left: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 23px;
}

.sbutn {
  background-color: #525252;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.sbutn:hover{
  box-shadow: inset 0 0 0 3px #2B2B2B;
}

#timeIn {
  float: right;
  margin-top: 13px;
  margin-left: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 110px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  font-family: "Arial", Helvetiva, sans-serif;
  height: 22px;
}

#main2-alarmL {
    display: block;
}

#room1 {
  display: block;
}

#room2 {
  display: none;
}

#lock1 {
  display: block;
}

#lock2 {
  display: none;
}
